[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pip = "==18.00"
django = "*"
djangorestframework = "*"
celery = "==4.1.1"
django-health-check = "==3.0.0"
django-redis = "==4.8.0"
flower = "==0.9.2"
kombu = ">=4.2.0"
"psycopg2" = "==2.7.5"
redis = "==2.10.6"
django-rq = "*"
"psycopg2-binary" = "*"
django-rest-framework = "*"

[dev-packages]
pylint = "*"
"flake8" = "*"
"pep8" = "*"
pytest = "*"
"autopep8" = "*"
factory-boy = "*"

[requires]
python_version = "3.6"
